@charset "UTF-8";

/*common styles*/
[class*="arcane-"] {
    min-width: 95px;
    padding: 11px 15px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
}

.arcane-large {
    padding: 13px 20px;
    font-size: 14px;
}

.arcane-small {
    padding: 9px 12px;
    font-size: 11px;
}

.arcane-pill {
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

.arcane-round {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.arcane-fullwidth {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*basic*/
.arcane-basic {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
    border: 1px solid #f5f5f5;
}

.arcane-basic.arcane-default {
    background-color: #f5f5f5;
    color: #444;
}

.arcane-basic.arcane-default:hover {
    background-color: #eee;
    color: #666;
}

.arcane-basic.arcane-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.arcane-basic.arcane-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #286090;
}

.arcane-basic.arcane-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.arcane-basic.arcane-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #449d44;
}

.arcane-basic.arcane-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.arcane-basic.arcane-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #31b0d5;
}

.arcane-basic.arcane-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.arcane-basic.arcane-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #ec971f;
}

.arcane-basic.arcane-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.arcane-basic.arcane-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}

.arcane-basic.arcane-black {
    color: #fff;
    background-color: #28373b;
    border-color: #28373b;
}

.arcane-basic.arcane-black:hover {
    background-color: #131A1B;
    border-color: #131A1B;
    color: #fff;
}

.arcane-basic.arcane-pink {
    color: #fff;
    background-color: #9d5db8;
    border-color: #9d5db8;
}

.arcane-basic.arcane-pink:hover {
    color: #fff;
    background-color: #8e44ad;
    border-color: #8e44ad;
}

.arcane-basic.arcane-turquoise {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.arcane-basic.arcane-turquoise:hover {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
}

/*basic (a)*/
.arcane-basic-a {
    border: 2px solid transparent;
    -webkit-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.arcane-basic-a:not(.arcane-default) {
    color: #fff;
}

.arcane-basic-a.arcane-default {
    background: #f5f5f5;
    color: #444;
}

.arcane-basic-a.arcane-primary {
    background-color: #337ab7;
}

.arcane-basic-a.arcane-success {
    background-color: #5cb85c;
}

.arcane-basic-a.arcane-info {
    background-color: #5bc0de;
}

.arcane-basic-a.arcane-warning {
    background-color: #f0ad4e;
}

.arcane-basic-a.arcane-danger {
    background-color: #d9534f;
}

.arcane-basic-a.arcane-black {
    background-color: #28373b;
}

.arcane-basic-a.arcane-pink {
    background-color: #9d5db8;
}

.arcane-basic-a.arcane-turquoise {
    background-color: #1abc9c;
}

.arcane-basic-a:hover {
    background: transparent;
}

.arcane-basic-a.arcane-default:hover {
    border-color: #f5f5f5;
    color: #777;
}

.arcane-basic-a.arcane-primary:hover {
    color: #337ab7;
    border-color: #337ab7;
}

.arcane-basic-a.arcane-success:hover {
    color: #5cb85c;
    border-color: #5cb85c;
}

.arcane-basic-a.arcane-info:hover {
    color: #5bc0de;
    border-color: #5bc0de;
}

.arcane-basic-a.arcane-warning:hover {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.arcane-basic-a.arcane-danger:hover {
    color: #c9302c;
    border-color: #c9302c;
}

.arcane-basic-a.arcane-black:hover {
    color: #28373b;
    border-color: #28373b;
}

.arcane-basic-a.arcane-pink:hover {
    color: #9d5db8;
    border-color: #9d5db8;
}

.arcane-basic-a.arcane-turquoise:hover {
    color: #1abc9c;
    border-color: #1abc9c;
}

/*basic(b)*/
.arcane-basic-b {
    border: 1px solid;
    background: transparent;
    -webkit-transition: .25s background cubic-bezier(0, 0, 0, 0.2);
    transition: .25s background cubic-bezier(0, 0, 0, 0.2);
}

.arcane-basic-b.arcane-default {
    border-color: #f3f3f3;
    color: #444;
}

.arcane-basic-b.arcane-default:hover {
    background: #f3f3f3;
    color: #666;
}

.arcane-basic-b.arcane-primary {
    color: #337ab7;
    border-color: #337ab7;
}

.arcane-basic-b.arcane-primary:hover,
.arcane-basic-b.arcane-primary:active,
.arcane-basic-b.arcane-primary:focus {
    background: #337ab7;
    color: #fff;
}

.arcane-basic-b.arcane-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

.arcane-basic-b.arcane-success:hover,
.arcane-basic-b.arcane-success:active,
.arcane-basic-b.arcane-success:focus {
    background: #5cb85c;
    color: #fff;
}

.arcane-basic-b.arcane-info {
    color: #5bc0de;
    border-color: #5bc0de;
}

.arcane-basic-b.arcane-info:hover,
.arcane-basic-b.arcane-info:active,
.arcane-basic-b.arcane-info:focus {
    background: #5bc0de;
    color: #fff;
}

.arcane-basic-b.arcane-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.arcane-basic-b.arcane-warning:hover,
.arcane-basic-b.arcane-warning:active,
.arcane-basic-b.arcane-warning:focus {
    background: #f0ad4e;
    color: #fff;
}

.arcane-basic-b.arcane-danger {
    color: #d9534f;
    border-color: #d9534f;
}

.arcane-basic-b.arcane-danger:hover,
.arcane-basic-b.arcane-danger:active,
.arcane-basic-b.arcane-danger:focus {
    background: #d9534f;
    color: #fff;
}

.arcane-basic-b.arcane-black {
    color: #28373b;
    border-color: #28373b;
}

.arcane-basic-b.arcane-black:hover,
.arcane-basic-b.arcane-black:active,
.arcane-basic-b.arcane-black:focus {
    background: #28373b;
    color: #fff;
}

.arcane-basic-b.arcane-pink {
    color: #9d5db8;
    border-color: #9d5db8;
}

.arcane-basic-b.arcane-pink:hover,
.arcane-basic-b.arcane-pink:active,
.arcane-basic-b.arcane-pink:focus {
    background: #9d5db8;
    color: #fff;
}

.arcane-basic-b.arcane-turquoise {
    color: #1abc9c;
    border-color: #1abc9c;
}

.arcane-basic-b.arcane-turquoise:hover,
.arcane-basic-b.arcane-turquoise:active,
.arcane-basic-b.arcane-turquoise:focus {
    background: #1abc9c;
    color: #fff;
}

/*basic(c)*/
.arcane-basic-c {
    border: 1px solid #ddd;
    background: transparent;
    position: relative;
    color: #444;
}

.arcane-basic-c:hover {
    color: #666;
    background: transparent;
}

.arcane-basic-c:before,
.arcane-basic-c:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 7px;
    background: #ddd;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: .25s width cubic-bezier(0, 0, 0, 0.2);
    transition: .25s width cubic-bezier(0, 0, 0, 0.2);
}

.arcane-basic-c:before {
    left: 0;
}

.arcane-basic-c:after {
    width: 0;
}

.arcane-basic-c:hover:before {
    width: 10px;
}

.arcane-basic-c:hover:after {
    right: 0;
    width: 10px;
}

.arcane-basic-c.arcane-primary {
    color: #337ab7;
    border-color: #337ab7;
}

.arcane-basic-c.arcane-success {
    color: #5cb85c;
    border-color: #5cb85c;
}

.arcane-basic-c.arcane-info {
    color: #5bc0de;
    border-color: #5bc0de;
}

.arcane-basic-c.arcane-warning {
    color: #f0ad4e;
    border-color: #f0ad4e;
}

.arcane-basic-c.arcane-danger {
    color: #d9534f;
    border-color: #d9534f;
}

.arcane-basic-c.arcane-black {
    color: #28373b;
    border-color: #28373b;
}

.arcane-basic-c.arcane-pink {
    color: #9d5db8;
    border-color: #9d5db8;
}

.arcane-basic-c.arcane-turquoise {
    color: #1abc9c;
    border-color: #1abc9c;
}

.arcane-basic-c.arcane-primary:before,
.arcane-basic-c.arcane-primary:after {
    background: #337ab7;
}

.arcane-basic-c.arcane-success:before,
.arcane-basic-c.arcane-success:after {
    background: #5cb85c;
}

.arcane-basic-c.arcane-info:before,
.arcane-basic-c.arcane-info:after {
    background: #5bc0de;
}

.arcane-basic-c.arcane-warning:before,
.arcane-basic-c.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-basic-c.arcane-danger:before,
.arcane-basic-c.arcane-danger:after {
    background: #d9534f;
}

.arcane-basic-c.arcane-black:before,
.arcane-basic-c.arcane-black:after {
    background: #28373b;
}

.arcane-basic-c.arcane-pink:before,
.arcane-basic-c.arcane-pink:after {
    background: #9d5db8;
}

.arcane-basic-c.arcane-turquoise:before,
.arcane-basic-c.arcane-turquoise:after {
    background: #1abc9c;
}

/*basic(d)*/
.arcane-basic-d {
    position: relative;
    -webkit-transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    color: #444;
    z-index: 1;
    padding: 12px !important;
}

.arcane-basic-d:hover {
    color: #666;
}

.arcane-basic-d:before,
.arcane-basic-d:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ddd;
    left: 0;
    -webkit-transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    z-index: -1;
}

.arcane-basic-d:before {
    top: 0;
}

.arcane-basic-d:after {
    bottom: 0;
}

.arcane-basic-d:hover:before {
    height: 50%;
}

.arcane-basic-d:hover:after {
    height: 50%;
}

.arcane-basic-d:not(.arcane-default):hover {
    color: #fff;
}

.arcane-basic-d.arcane-primary {
    color: #337ab7;
}

.arcane-basic-d.arcane-success {
    color: #5cb85c;
}

.arcane-basic-d.arcane-info {
    color: #5bc0de;
}

.arcane-basic-d.arcane-warning {
    color: #f0ad4e;
}

.arcane-basic-d.arcane-danger {
    color: #d9534f;
}

.arcane-basic-d.arcane-black {
    color: #28373b;
}

.arcane-basic-d.arcane-pink {
    color: #9d5db8;
}

.arcane-basic-d.arcane-turquoise {
    color: #1abc9c;
}

.arcane-basic-d.arcane-primary:before,
.arcane-basic-d.arcane-primary:after {
    background: #337ab7;
}

.arcane-basic-d.arcane-success:before,
.arcane-basic-d.arcane-success:after {
    background: #5cb85c;
}

.arcane-basic-d.arcane-info:before,
.arcane-basic-d.arcane-info:after {
    background: #5bc0de;
}

.arcane-basic-d.arcane-warning:before,
.arcane-basic-d.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-basic-d.arcane-danger:before,
.arcane-basic-d.arcane-danger:after {
    background: #d9534f;
}

.arcane-basic-d.arcane-black:before,
.arcane-basic-d.arcane-black:after {
    background: #28373b;
}

.arcane-basic-d.arcane-pink:before,
.arcane-basic-d.arcane-pink:after {
    background: #9d5db8;
}

.arcane-basic-d.arcane-turquoise:before,
.arcane-basic-d.arcane-turquoise:after {
    background: #1abc9c;
}

/*basic-e*/
.arcane-basic-e {
    position: relative;
    z-index: 1;
    -webkit-transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    color: #444;
}

.arcane-basic-e:hover {
    color: #666;
}

.arcane-basic-e:before,
.arcane-basic-e:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    background: #ddd;
    top: 0;
    -webkit-transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    transition: .25s all cubic-bezier(0, 0, 0, 0.2);
    z-index: -1;
}

.arcane-basic-e:before {
    left: 0;
}

.arcane-basic-e:after {
    right: 0;
}

.arcane-basic-e:hover:before {
    width: 50%;
}

.arcane-basic-e:hover:after {
    width: 50%;
}

.arcane-basic-e:not(.arcane-default):hover {
    color: #fff;
}

.arcane-basic-e.arcane-primary {
    color: #337ab7;
}

.arcane-basic-e.arcane-success {
    color: #5cb85c;
}

.arcane-basic-e.arcane-info {
    color: #5bc0de;
}

.arcane-basic-e.arcane-warning {
    color: #f0ad4e;
}

.arcane-basic-e.arcane-danger {
    color: #d9534f;
}

.arcane-basic-e.arcane-black {
    color: #28373b;
}

.arcane-basic-e.arcane-pink {
    color: #9d5db8;
}

.arcane-basic-e.arcane-turquoise {
    color: #1abc9c;
}

.arcane-basic-e.arcane-primary:before,
.arcane-basic-e.arcane-primary:after {
    background: #337ab7;
}

.arcane-basic-e.arcane-success:before,
.arcane-basic-e.arcane-success:after {
    background: #5cb85c;
}

.arcane-basic-e.arcane-info:before,
.arcane-basic-e.arcane-info:after {
    background: #5bc0de;
}

.arcane-basic-e.arcane-warning:before,
.arcane-basic-e.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-basic-e.arcane-danger:before,
.arcane-basic-e.arcane-danger:after {
    background: #d9534f;
}

.arcane-basic-e.arcane-black:before,
.arcane-basic-e.arcane-black:after {
    background: #28373b;
}

.arcane-basic-e.arcane-pink:before,
.arcane-basic-e.arcane-pink:after {
    background: #9d5db8;
}

.arcane-basic-e.arcane-turquoise:before,
.arcane-basic-e.arcane-turquoise:after {
    background: #1abc9c;
}

/* animated block(a) */
.arcane-animate-a {
    position: relative;
    z-index: 1;
    border: 1px solid #f0f0f0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #444;
}

.arcane-animate-a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background .4s;
    transition: transform 0.4s, opacity 0.4s, background .4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.arcane-animate-a,
.arcane-animate-a:before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.arcane-animate-a:hover {
    color: #666;
    border-color: #f0f0f0;
}

.arcane-animate-a:hover:before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.arcane-animate-a.arcane-primary {
    border-color: #2e6da4;
    color: #2e6da4;
}

.arcane-animate-a.arcane-primary:hover:before {
    background: #2e6da4;
}

.arcane-animate-a.arcane-success {
    color: #4cae4c;
    border-color: #4cae4c;
}

.arcane-animate-a.arcane-success:hover:before {
    background: #4cae4c;
}

.arcane-animate-a.arcane-info {
    color: #46b8da;
    border-color: #46b8da;
}

.arcane-animate-a.arcane-info:hover:before {
    background: #46b8da;
}

.arcane-animate-a.arcane-warning {
    color: #eea236;
    border-color: #eea236;
}

.arcane-animate-a.arcane-warning:hover:before {
    background: #eea236;
}

.arcane-animate-a.arcane-danger {
    color: #d43f3a;
    border-color: #d43f3a;
}

.arcane-animate-a.arcane-danger:hover:before {
    background: #d43f3a;
}

.arcane-animate-a.arcane-black {
    border-color: #28373b;
    color: #28373b;
}

.arcane-animate-a.arcane-black:hover:before {
    background: #28373b;
}

.arcane-animate-a.arcane-pink {
    border-color: #9d5db8;
    color: #9d5db8;
}

.arcane-animate-a.arcane-pink:hover:before {
    background: #9d5db8;
}

.arcane-animate-a.arcane-turquoise {
    border-color: #1abc9c;
    color: #1abc9c;
}

.arcane-animate-a.arcane-turquoise:hover:before {
    background: #1abc9c;
}

.arcane-animate-a:not(.arcane-default):hover {
    color: #fff;
}

/* animated block(b) */
.arcane-animate-b {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    box-sizing: border-box;
}

.arcane-animate-b:not(.arcane-default) {
    color: #fff;
}

.arcane-animate-b.arcane-default {
    background-color: #f5f5f5;
    color: #444;
}

.arcane-animate-b.arcane-default:hover {
    background-color: #eee;
    color: #666;
}

.arcane-animate-b.arcane-primary {
    background-color: #337ab7;
}

.arcane-animate-b.arcane-success {
    background-color: #5cb85c;
}

.arcane-animate-b.arcane-info {
    background-color: #5bc0de;
}

.arcane-animate-b.arcane-warning {
    background-color: #f0ad4e;
}

.arcane-animate-b.arcane-danger {
    background-color: #d9534f;
}

.arcane-animate-b.arcane-black {
    background-color: #28373b;
}

.arcane-animate-b.arcane-pink {
    background-color: #9d5db8;
}

.arcane-animate-b.arcane-turquoise {
    background-color: #1abc9c;
}

.arcane-animate-b:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ddd;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.arcane-animate-b:hover:before {
    opacity: 1;
    background-color: #ddd;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.arcane-animate-b.arcane-primary:before {
    background: #286090;
}

.arcane-animate-b.arcane-primary:hover {
    border-color: #204d74;
}

.arcane-animate-b.arcane-primary:hover:before {
    background-color: #204d74;
}

.arcane-animate-b.arcane-success:before {
    background: #5cb85c;
}

.arcane-animate-b.arcane-success:hover {
    border-color: #398439;
}

.arcane-animate-b.arcane-success:hover:before {
    background-color: #398439;
}

.arcane-animate-b.arcane-info:before {
    background: #5bc0de;
}

.arcane-animate-b.arcane-info:hover {
    border-color: #269abc;
}

.arcane-animate-b.arcane-info:hover:before {
    background-color: #269abc;
}

.arcane-animate-b.arcane-warning:before {
    background: #f0ad4e;
}

.arcane-animate-b.arcane-warning:hover {
    border-color: #d58512;
}

.arcane-animate-b.arcane-warning:hover:before {
    background-color: #d58512;
}

.arcane-animate-b.arcane-danger:before {
    background: #d9534f;
}

.arcane-animate-b.arcane-danger:hover {
    border-color: #ac2925;
}

.arcane-animate-b.arcane-danger:hover:before {
    background-color: #ac2925;
}

.arcane-animate-b.arcane-black:before {
    background: #28373b;
}

.arcane-animate-b.arcane-black:hover {
    border-color: #131A1B;
}

.arcane-animate-b.arcane-black:hover:before {
    background-color: #131A1B;
}

.arcane-animate-b.arcane-pink:before {
    background: #9d5db8;
}

.arcane-animate-b.arcane-pink:hover {
    border-color: #733D8B;
}

.arcane-animate-b.arcane-pink:hover:before {
    background-color: #733D8B;
}

.arcane-animate-b.arcane-turquoise:before {
    background: #1abc9c;
}

.arcane-animate-b.arcane-turquoise:hover {
    border-color: #129077;
}

.arcane-animate-b.arcane-turquoise:hover:before {
    background-color: #129077;
}

/* animated block(c) */
.arcane-animate-c {
    border: 1px solid;
    background: transparent;
    position: relative;
    z-index: 1;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.arcane-animate-c:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

.arcane-animate-c:not(.arcane-default):hover,
.arcane-animate-c:not(.arcane-default):active {
    color: #fff;
}

.arcane-animate-c:hover:after,
.arcane-animate-c:active:after {
    height: 100%;
}

.arcane-animate-c.arcane-default {
    border-color: #eee;
    color: #444;
}

.arcane-animate-c.arcane-default:after {
    background: #eee;
}

.arcane-animate-c.arcane-primary {
    border-color: #337ab7;
    color: #337ab7;
}

.arcane-animate-c.arcane-primary:after {
    background: #337ab7;
}

.arcane-animate-c.arcane-success {
    border-color: #5cb85c;
    color: #5cb85c;
}

.arcane-animate-c.arcane-success:after {
    background: #5cb85c;
}

.arcane-animate-c.arcane-info {
    border-color: #5bc0de;
    color: #5bc0de;
}

.arcane-animate-c.arcane-info:after {
    background: #5bc0de;
}

.arcane-animate-c.arcane-warning {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.arcane-animate-c.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-animate-c.arcane-danger {
    border-color: #d9534f;
    color: #d9534f;
}

.arcane-animate-c.arcane-danger:after {
    background: #d9534f;
}

.arcane-animate-c.arcane-black {
    border-color: #28373b;
    color: #28373b;
}

.arcane-animate-c.arcane-black:after {
    background: #28373b;
}

.arcane-animate-c.arcane-pink {
    border-color: #9d5db8;
    color: #9d5db8;
}

.arcane-animate-c.arcane-pink:after {
    background: #9d5db8;
}

.arcane-animate-c.arcane-turquoise {
    border-color: #1abc9c;
    color: #1abc9c;
}

.arcane-animate-c.arcane-turquoise:after {
    background: #1abc9c;
}

/* animated block(d) */
.arcane-animate-d {
    border: 1px solid;
    background: transparent;
    position: relative;
    z-index: 1;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.arcane-animate-d:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
    transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.arcane-animate-d:not(.arcane-default):hover,
.arcane-animate-d:not(.arcane-default):active {
    color: #fff;
}

.arcane-animate-d:hover:after,
.arcane-animate-d:active:after {
    width: 100%;
}

.arcane-animate-d.arcane-default {
    border-color: #eee;
    color: #444;
}

.arcane-animate-d.arcane-default:after {
    background: #eee;
}

.arcane-animate-d.arcane-primary {
    border-color: #337ab7;
    color: #337ab7;
}

.arcane-animate-d.arcane-primary:after {
    background: #337ab7;
}

.arcane-animate-d.arcane-success {
    border-color: #5cb85c;
    color: #5cb85c;
}

.arcane-animate-d.arcane-success:after {
    background: #5cb85c;
}

.arcane-animate-d.arcane-info {
    border-color: #5bc0de;
    color: #5bc0de;
}

.arcane-animate-d.arcane-info:after {
    background: #5bc0de;
}

.arcane-animate-d.arcane-warning {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.arcane-animate-d.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-animate-d.arcane-danger {
    border-color: #d9534f;
    color: #d9534f;
}

.arcane-animate-d.arcane-danger:after {
    background: #d9534f;
}

.arcane-animate-d.arcane-black {
    border-color: #28373b;
    color: #28373b;
}

.arcane-animate-d.arcane-black:after {
    background: #28373b;
}

.arcane-animate-d.arcane-pink {
    border-color: #9d5db8;
    color: #9d5db8;
}

.arcane-animate-d.arcane-pink:after {
    background: #9d5db8;
}

.arcane-animate-d.arcane-turquoise {
    border-color: #1abc9c;
    color: #1abc9c;
}

.arcane-animate-d.arcane-turquoise:after {
    background: #1abc9c;
}


/* animated block(e) */
.arcane-animate-e {
    border: 1px solid;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: .2s cubic-bezier(0.19, 0.4, 0.9, 0.76) background;
    transition: .2s cubic-bezier(0.19, 0.4, 0.9, 0.76) background;
}

.arcane-animate-e:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
    transition: all 0.4s cubic-bezier(0, 0, 0, 0.3);
}

.arcane-animate-e:not(.arcane-default):after {
    background: rgba(255, 255, 255, 0.15);
}

.arcane-animate-e:not(.arcane-default):hover,
.arcane-animate-e:not(.arcane-default):active {
    color: #fff;
}

.arcane-animate-e:hover:after,
.arcane-animate-e:active:after {
    height: 100%;
    opacity: 1;
}

.arcane-animate-e.arcane-default {
    border-color: #eee;
    color: #444;
}

.arcane-animate-e.arcane-default {
    border-color: rgba(0, 0, 0, 0.05);
}

.arcane-animate-e.arcane-default:after {
    background: rgba(0, 0, 0, 0.05);
}

.arcane-animate-e.arcane-primary {
    border-color: #337ab7;
    color: #337ab7;
}

.arcane-animate-e.arcane-success {
    border-color: #5cb85c;
    color: #5cb85c;
}

.arcane-animate-e.arcane-info {
    border-color: #5bc0de;
    color: #5bc0de;
}

.arcane-animate-e.arcane-warning {
    border-color: #f0ad4e;
    color: #f0ad4e;
}

.arcane-animate-e.arcane-danger {
    border-color: #d9534f;
    color: #d9534f;
}

.arcane-animate-e.arcane-black {
    border-color: #28373b;
    color: #28373b;
}

.arcane-animate-e.arcane-pink {
    border-color: #9d5db8;
    color: #9d5db8;
}

.arcane-animate-e.arcane-turquoise {
    border-color: #1abc9c;
    color: #1abc9c;
}

.arcane-animate-e.arcane-default:hover {
    background-color: #eee;
    color: #666;
}

.arcane-animate-e.arcane-primary:hover {
    background-color: #337ab7;
}

.arcane-animate-e.arcane-success:hover {
    background-color: #5cb85c;
}

.arcane-animate-e.arcane-info:hover {
    background-color: #5bc0de;
}

.arcane-animate-e.arcane-warning:hover {
    background-color: #f0ad4e;
}

.arcane-animate-e.arcane-danger:hover {
    background-color: #d9534f;
}

.arcane-animate-e.arcane-black:hover {
    background-color: #28373b;
}

.arcane-animate-e.arcane-pink:hover {
    background-color: #9d5db8;
}

.arcane-animate-e.arcane-turquoise:hover {
    background-color: #1abc9c;
}


/* animated block(f) */
.arcane-animate-f {
    margin: 1em 2em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    color: #444;
}

.arcane-animate-f:not(.arcane-default) {
    color: #fff;
}

.arcane-animate-f:before,
.arcane-animate-f:after {
    content: '';
    position: absolute;
    border-radius: inherit;
    background: #eee;
    z-index: -1;
}

.arcane-animate-f:before {
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    opacity: 0.3;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.arcane-animate-f:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(1.1, 1, 1);
    transform: scale3d(1.1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}

.arcane-animate-f:before,
.arcane-animate-f:after {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.arcane-animate-f:hover:before {
    opacity: 1;
}

.arcane-animate-f:hover:after {
    background-color: #fff !important;
}

.arcane-animate-f:hover:after,
.arcane-animate-f:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.arcane-animate-f.arcane-primary:hover {
    color: #337ab7;
}

.arcane-animate-f.arcane-primary:before,
.arcane-animate-f.arcane-primary:after {
    background: #337ab7;
}

.arcane-animate-f.arcane-success:hover {
    color: #5cb85c;
}

.arcane-animate-f.arcane-success:before,
.arcane-animate-f.arcane-success:after {
    background: #5cb85c;
}

.arcane-animate-f.arcane-info:hover {
    color: #5bc0de;
}

.arcane-animate-f.arcane-info:before,
.arcane-animate-f.arcane-info:after {
    background: #5bc0de;
}

.arcane-animate-f.arcane-warning:hover {
    color: #f0ad4e;
}

.arcane-animate-f.arcane-warning:before,
.arcane-animate-f.arcane-warning:after {
    background: #f0ad4e;
}

.arcane-animate-f.arcane-danger:hover {
    color: #d9534f;
}

.arcane-animate-f.arcane-danger:before,
.arcane-animate-f.arcane-danger:after {
    background: #d9534f;
}

.arcane-animate-f.arcane-black:hover {
    color: #28373b;
}

.arcane-animate-f.arcane-black:before,
.arcane-animate-f.arcane-black:after {
    background: #28373b;
}

.arcane-animate-f.arcane-pink:hover {
    color: #9d5db8;
}

.arcane-animate-f.arcane-pink:before,
.arcane-animate-f.arcane-pink:after {
    background: #9d5db8;
}

.arcane-animate-f.arcane-turquoise:hover {
    color: #1abc9c;
}

.arcane-animate-f.arcane-turquoise:before,
.arcane-animate-f.arcane-turquoise:after {
    background: #1abc9c;
}

/* 3D block(a) */
.arcane-3d-a {
    background: #eee;
    color: #444;
    box-shadow: 0 6px #ddd;
}

.arcane-3d-a:hover {
    box-shadow: 0 4px #ddd;
    top: 2px;
}

.arcane-3d-a:active {
    box-shadow: 0 0 #ddd;
    top: 6px;
}

.arcane-3d-a:not(.arcane-default) {
    color: #fff;
}

.arcane-3d-a.arcane-primary {
    background-color: #337ab7;
    box-shadow: 0 6px #285F8F;
}

.arcane-3d-a.arcane-success {
    background-color: #5cb85c;
    box-shadow: 0 6px #459D45;
}

.arcane-3d-a.arcane-info {
    background-color: #5bc0de;
    box-shadow: 0 6px #289FC3;
}

.arcane-3d-a.arcane-warning {
    background-color: #f0ad4e;
    box-shadow: 0 6px #EC961D;
}

.arcane-3d-a.arcane-danger {
    background-color: #d9534f;
    box-shadow: 0 6px #D43F3B;
}

.arcane-3d-a.arcane-black {
    background-color: #28373b;
    box-shadow: 0 6px #0d1213;
}

.arcane-3d-a.arcane-pink {
    background-color: #9d5db8;
    box-shadow: 0 6px #82459D;
}

.arcane-3d-a.arcane-turquoise {
    background-color: #1abc9c;
    box-shadow: 0 6px #149077;
}

.arcane-3d-a.arcane-primary:hover {
    box-shadow: 0 4px #285F8F;
    top: 2px;
}

.arcane-3d-a.arcane-success:hover {
    box-shadow: 0 4px #459D45;
    top: 2px;
}

.arcane-3d-a.arcane-info:hover {
    box-shadow: 0 4px #289FC3;
    top: 2px;
}

.arcane-3d-a.arcane-warning:hover {
    box-shadow: 0 4px #EC961D;
    top: 2px;
}

.arcane-3d-a.arcane-danger:hover {
    box-shadow: 0 4px #D43F3B;
    top: 2px;
}

.arcane-3d-a.arcane-black:hover {
    box-shadow: 0 4px #0d1213;
    top: 2px;
}

.arcane-3d-a.arcane-pink:hover {
    box-shadow: 0 4px #82459D;
    top: 2px;
}

.arcane-3d-a.arcane-turquoise:hover {
    box-shadow: 0 4px #149077;
    top: 2px;
}

.arcane-3d-a.arcane-primary:active {
    box-shadow: 0 0 #285F8F;
    top: 6px;
}

.arcane-3d-a.arcane-success:active {
    box-shadow: 0 0 #459D45;
    top: 6px;
}

.arcane-3d-a.arcane-info:active {
    box-shadow: 0 0 #289FC3;
    top: 6px;
}

.arcane-3d-a.arcane-warning:active {
    box-shadow: 0 0 #EC961D;
    top: 6px;
}

.arcane-3d-a.arcane-danger:active {
    box-shadow: 0 0 #D43F3B;
    top: 6px;
}

.arcane-3d-a.arcane-black:active {
    box-shadow: 0 0 #0d1213;
    top: 6px;
}

.arcane-3d-a.arcane-pink:active {
    box-shadow: 0 0 #82459D;
    top: 6px;
}

.arcane-3d-a.arcane-turquoise:active {
    box-shadow: 0 0 #149077;
    top: 6px;
}


/* 3D block(b) */
.arcane-3d-b {
    background: #eee;
    color: #444;
    box-shadow: 4px 4px #ddd;
}

.arcane-3d-b:hover {
    box-shadow: 3px 3px #ddd;
    top: 1px;
}

.arcane-3d-b:active {
    box-shadow: 0 0 #ddd;
    top: 4px;
}

.arcane-3d-b:not(.arcane-default) {
    color: #fff;
}

.arcane-3d-b.arcane-primary {
    background-color: #337ab7;
    box-shadow: 4px 4px #285F8F;
}

.arcane-3d-b.arcane-success {
    background-color: #5cb85c;
    box-shadow: 4px 4px #459D45;
}

.arcane-3d-b.arcane-info {
    background-color: #5bc0de;
    box-shadow: 4px 4px #289FC3;
}

.arcane-3d-b.arcane-warning {
    background-color: #f0ad4e;
    box-shadow: 4px 4px #EC961D;
}

.arcane-3d-b.arcane-danger {
    background-color: #d9534f;
    box-shadow: 4px 4px #D43F3B;
}

.arcane-3d-b.arcane-black {
    background-color: #28373b;
    box-shadow: 4px 4px #0d1213;
}

.arcane-3d-b.arcane-pink {
    background-color: #9d5db8;
    box-shadow: 4px 4px #82459D;
}

.arcane-3d-b.arcane-turquoise {
    background-color: #1abc9c;
    box-shadow: 4px 4px #149077;
}

.arcane-3d-b.arcane-primary:hover {
    box-shadow: 3px 3px #285F8F;
    top: 1px;
}

.arcane-3d-b.arcane-success:hover {
    box-shadow: 3px 3px #459D45;
    top: 1px;
}

.arcane-3d-b.arcane-info:hover {
    box-shadow: 3px 3px #289FC3;
    top: 1px;
}

.arcane-3d-b.arcane-warning:hover {
    box-shadow: 3px 3px #EC961D;
    top: 1px;
}

.arcane-3d-b.arcane-danger:hover {
    box-shadow: 3px 3px #D43F3B;
    top: 1px;
}

.arcane-3d-b.arcane-black:hover {
    box-shadow: 3px 3px #0d1213;
    top: 1px;
}

.arcane-3d-b.arcane-pink:hover {
    box-shadow: 3px 3px #82459D;
    top: 1px;
}

.arcane-3d-b.arcane-turquoise:hover {
    box-shadow: 3px 3px #149077;
    top: 1px;
}

.arcane-3d-b.arcane-primary:active {
    box-shadow: 0 0 #285F8F;
    top: 4px;
}

.arcane-3d-b.arcane-success:active {
    box-shadow: 0 0 #459D45;
    top: 4px;
}

.arcane-3d-b.arcane-info:active {
    box-shadow: 0 0 #289FC3;
    top: 4px;
}

.arcane-3d-b.arcane-warning:active {
    box-shadow: 0 0 #EC961D;
    top: 4px;
}

.arcane-3d-b.arcane-danger:active {
    box-shadow: 0 0 #D43F3B;
    top: 4px;
}

.arcane-3d-b.arcane-black:active {
    box-shadow: 0 0 #0d1213;
    top: 4px;
}

.arcane-3d-b.arcane-pink:active {
    box-shadow: 0 0 #82459D;
    top: 4px;
}

.arcane-3d-b.arcane-turquoise:active {
    box-shadow: 0 0 #149077;
    top: 4px;
}


/* 3D block(c) */
.arcane-3d-c {
    background: #eee;
    color: #444;
    box-shadow: 4px 0 #ddd;
}

.arcane-3d-c:hover {
    box-shadow: 2px 0 #ddd;
    left: 1px;
}

.arcane-3d-c:active {
    box-shadow: 0 0 #ddd;
    left: 4px;
}

.arcane-3d-c:not(.arcane-default) {
    color: #fff;
}

.arcane-3d-c.arcane-primary {
    background-color: #337ab7;
    box-shadow: 4px 0 #285F8F;
}

.arcane-3d-c.arcane-success {
    background-color: #5cb85c;
    box-shadow: 4px 0 #459D45;
}

.arcane-3d-c.arcane-info {
    background-color: #5bc0de;
    box-shadow: 4px 0 #289FC3;
}

.arcane-3d-c.arcane-warning {
    background-color: #f0ad4e;
    box-shadow: 4px 0 #EC961D;
}

.arcane-3d-c.arcane-danger {
    background-color: #d9534f;
    box-shadow: 4px 0 #D43F3B;
}

.arcane-3d-c.arcane-black {
    background-color: #28373b;
    box-shadow: 4px 0 #0d1213;
}

.arcane-3d-c.arcane-pink {
    background-color: #9d5db8;
    box-shadow: 4px 0 #82459D;
}

.arcane-3d-c.arcane-turquoise {
    background-color: #1abc9c;
    box-shadow: 4px 0 #149077;
}

.arcane-3d-c.arcane-primary:hover {
    box-shadow: 2px 0 #285F8F;
    left: 1px;
}

.arcane-3d-c.arcane-success:hover {
    box-shadow: 2px 0 #459D45;
    left: 1px;
}

.arcane-3d-c.arcane-info:hover {
    box-shadow: 2px 0 #289FC3;
    left: 1px;
}

.arcane-3d-c.arcane-warning:hover {
    box-shadow: 2px 0 #EC961D;
    left: 1px;
}

.arcane-3d-c.arcane-danger:hover {
    box-shadow: 2px 0 #D43F3B;
    left: 1px;
}

.arcane-3d-c.arcane-black:hover {
    box-shadow: 2px 0 #0d1213;
    left: 1px;
}

.arcane-3d-c.arcane-pink:hover {
    box-shadow: 2px 0 #82459D;
    left: 1px;
}

.arcane-3d-c.arcane-turquoise:hover {
    box-shadow: 2px 0 #149077;
    left: 1px;
}

.arcane-3d-c.arcane-primary:active {
    box-shadow: 0 0 #285F8F;
    left: 4px;
}

.arcane-3d-c.arcane-success:active {
    box-shadow: 0 0 #459D45;
    left: 4px;
}

.arcane-3d-c.arcane-info:active {
    box-shadow: 0 0 #289FC3;
    left: 4px;
}

.arcane-3d-c.arcane-warning:active {
    box-shadow: 0 0 #EC961D;
    left: 4px;
}

.arcane-3d-c.arcane-danger:active {
    box-shadow: 0 0 #D43F3B;
    left: 4px;
}

.arcane-3d-c.arcane-black:active {
    box-shadow: 0 0 #0d1213;
    left: 4px;
}

.arcane-3d-c.arcane-pink:active {
    box-shadow: 0 0 #82459D;
    left: 4px;
}

.arcane-3d-c.arcane-turquoise:active {
    box-shadow: 0 0 #149077;
    left: 4px;
}


/* 3D block(d) */
.arcane-3d-d {
    background: #eee;
    color: #444;
    box-shadow: -4px 0 #ddd;
}

.arcane-3d-d:hover {
    box-shadow: -2px 0 #ddd;
    left: -1px;
}

.arcane-3d-d:active {
    box-shadow: 0 0 #ddd;
    left: -4px;
}

.arcane-3d-d:not(.arcane-default) {
    color: #fff;
}

.arcane-3d-d.arcane-primary {
    background-color: #337ab7;
    box-shadow: -4px 0 #285F8F;
}

.arcane-3d-d.arcane-success {
    background-color: #5cb85c;
    box-shadow: -4px 0 #459D45;
}

.arcane-3d-d.arcane-info {
    background-color: #5bc0de;
    box-shadow: -4px 0 #289FC3;
}

.arcane-3d-d.arcane-warning {
    background-color: #f0ad4e;
    box-shadow: -4px 0 #EC961D;
}

.arcane-3d-d.arcane-danger {
    background-color: #d9534f;
    box-shadow: -4px 0 rgb(208, 5, 0);
}

.arcane-3d-d.arcane-black {
    background-color: #28373b;
    box-shadow: -4px 0 #0d1213;
}

.arcane-3d-d.arcane-pink {
    background-color: #9d5db8;
    box-shadow: -4px 0 #82459D;
}

.arcane-3d-d.arcane-turquoise {
    background-color: #1abc9c;
    box-shadow: -4px 0 #149077;
}

.arcane-3d-d.arcane-primary:hover {
    box-shadow: -2px 0 #285F8F;
    left: -1px;
}

.arcane-3d-d.arcane-success:hover {
    box-shadow: -2px 0 #459D45;
    left: -1px;
}

.arcane-3d-d.arcane-info:hover {
    box-shadow: -2px 0 #289FC3;
    left: -1px;
}

.arcane-3d-d.arcane-warning:hover {
    box-shadow: -2px 0 #EC961D;
    left: -1px;
}

.arcane-3d-d.arcane-danger:hover {
    box-shadow: -2px 0 rgb(208, 5, 0);
    left: -1px;
}

.arcane-3d-d.arcane-black:hover {
    box-shadow: -2px 0 #0d1213;
    left: -1px;
}

.arcane-3d-d.arcane-pink:hover {
    box-shadow: -2px 0 #82459D;
    left: -1px;
}

.arcane-3d-d.arcane-turquoise:hover {
    box-shadow: -2px 0 #149077;
    left: -1px;
}

.arcane-3d-d.arcane-primary:active {
    box-shadow: 0 0 #285F8F;
    left: -4px;
}

.arcane-3d-d.arcane-success:active {
    box-shadow: 0 0 #459D45;
    left: -4px;
}

.arcane-3d-d.arcane-info:active {
    box-shadow: 0 0 #289FC3;
    left: -4px;
}

.arcane-3d-d.arcane-warning:active {
    box-shadow: 0 0 #EC961D;
    left: -4px;
}

.arcane-3d-d.arcane-danger:active {
    box-shadow: 0 0 rgb(208, 5, 0);
    left: -4px;
}

.arcane-3d-d.arcane-black:active {
    box-shadow: 0 0 #0d1213;
    left: -4px;
}

.arcane-3d-d.arcane-pink:active {
    box-shadow: 0 0 #82459D;
    left: -4px;
}

.arcane-3d-d.arcane-turquoise:active {
    box-shadow: 0 0 #149077;
    left: -4px;
}
