@charset "UTF-8";


.arcane-social-share a {display: inline-block;margin: 0.5em;}
.arcane-social-share .social-icon {display: inline-block;font-size: 0px;cursor: pointer;width: 80px;height: 80px;border-radius: 50%;text-align: center;position: relative;z-index: 1;color: #444;-webkit-box-shadow: 0 0 0 4px #444;box-shadow: 0 0 0 4px #444;overflow: hidden;-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;transition: background 0.3s, color 0.3s, box-shadow 0.3s;}
.arcane-social-share .social-icon:after {display: none;pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';-webkit-box-sizing: content-box; box-sizing: content-box;}
.arcane-social-share .social-icon:before  {speak: none;font-size: 42px;line-height: 80px;display: block;-webkit-font-smoothing: antialiased;}
.arcane-social-share .social-icon:hover {background: #444;color: #fff;-webkit-box-shadow: 0 0 0 8px rgba(0,0,0,0.05);box-shadow: 0 0 0 8px rgba(0,0,0,0.05);}
.arcane-social-share .social-icon:hover:before {-webkit-animation: animationLeft 0.3s forwards; animation: animationLeft 0.3s forwards; }


.arcane-social-share i[class*="-facebook"] {color: #4766A9;-webkit-box-shadow: 0 0 0 4px #4766A9;box-shadow: 0 0 0 4px #4766A9;}
.arcane-social-share i[class*="-facebook"]:hover {background: #4766A9;	}
.arcane-social-share i[class*="-twitter"] {color: #00ACED;-webkit-box-shadow: 0 0 0 4px #00ACED;box-shadow: 0 0 0 4px #00ACED;}
.arcane-social-share i[class*="-twitter"]:hover {background: #00ACED;	}
.arcane-social-share i[class*="-google-plus"] {color: #DB4437;-webkit-box-shadow: 0 0 0 4px #DB4437;box-shadow: 0 0 0 4px #DB4437;}
.arcane-social-share i[class*="-google-plus"]:hover {background: #DB4437;}
.arcane-social-share i[class*="-dribbble"] {color: #CB5D9C;-webkit-box-shadow: 0 0 0 4px #CB5D9C;box-shadow: 0 0 0 4px #CB5D9C;}
.arcane-social-share i[class*="-dribbble"]:hover {background: #CB5D9C;}
.arcane-social-share i[class*="-linkedin"] {color: #0177B5;-webkit-box-shadow: 0 0 0 4px #0177B5;box-shadow: 0 0 0 4px #0177B5;}
.arcane-social-share i[class*="-linkedin"]:hover {background: #0177B5;}
.arcane-social-share i[class*="-instagram"] {color: #405de6;-webkit-box-shadow: 0 0 0 4px #405de6;box-shadow: 0 0 0 4px #405de6;}
.arcane-social-share i[class*="-instagram"]:hover {background: #405de6;}
.arcane-social-share i[class*="-pinterest"] {color: #BB0B1F;-webkit-box-shadow: 0 0 0 4px #BB0B1F;box-shadow: 0 0 0 4px #BB0B1F;}
.arcane-social-share i[class*="-pinterest"]:hover {background: #BB0B1F;}
.arcane-social-share i[class*="-gitlab"] {color: #fc6d26;-webkit-box-shadow: 0 0 0 4px #fc6d26;box-shadow: 0 0 0 4px #fc6d26;}
.arcane-social-share i[class*="-gitlab"]:hover {background: #fc6d26;}
.arcane-social-share i[class*="-github"] {color: #323131;-webkit-box-shadow: 0 0 0 4px #323131;box-shadow: 0 0 0 4px #323131;}
.arcane-social-share i[class*="-github"]:hover {background: #323131;}
.arcane-social-share i[class*="-flickr"] {color: #ff0084;-webkit-box-shadow: 0 0 0 4px #ff0084;box-shadow: 0 0 0 4px #ff0084;}
.arcane-social-share i[class*="-flickr"]:hover {background: #ff0084;}
.arcane-social-share i[class*="-vk"] {color: #4C75A3;-webkit-box-shadow: 0 0 0 4px #4C75A3;box-shadow: 0 0 0 4px #4C75A3;}
.arcane-social-share i[class*="-vk"]:hover {background: #4C75A3;}




.arcane-social-square .social-icon {border-radius: 0;}
.arcane-social-round .social-icon {border-radius: 4px;}



.arcane-social-small .social-icon {width: 50px;height: 50px;}
.arcane-social-small .social-icon:before {font-size: 24px;line-height: 50px;}
.arcane-social-medium .social-icon {width: 64px;height: 64px;}
.arcane-social-medium .social-icon:before {font-size: 32px;line-height: 64px;}



.arcane-social-share.social-animation-right .social-icon:hover:before {-webkit-animation: animationRight 0.3s forwards; animation: animationRight 0.3s forwards; }
.arcane-social-share.social-animation-top .social-icon:hover:before {-webkit-animation: animationTop 0.3s forwards; animation: animationTop 0.3s forwards; }
.arcane-social-share.social-animation-bottom .social-icon:hover:before {-webkit-animation: animationBottom 0.3s forwards; animation: animationBottom 0.3s forwards; }




@-webkit-keyframes animationLeft {
    49% {-webkit-transform: translateX(100%);}
    50% {opacity: 0;-webkit-transform: translateX(-100%);}
    51% {opacity: 1;}
}
@keyframes animationLeft {
    49% {transform: translateX(100%);}
    50% {opacity: 0;transform: translateX(-100%);}
    51% {opacity: 1;}
}




@-webkit-keyframes animationRight {
    49% {-webkit-transform: translateX(-100%);}
    50% {opacity: 0;-webkit-transform: translateX(100%);}
    51% {opacity: 1;}
}
@keyframes animationRight {
    49% {transform: translateX(-100%);}
    50% {opacity: 0;transform: translateX(100%);}
    51% {opacity: 1;}
}




@-webkit-keyframes animationTop {
    49% {-webkit-transform: translateY(100%);}
    50% {opacity: 0;-webkit-transform: translateY(-100%);}
    51% {opacity: 1;}
}
@keyframes animationTop {
    49% {transform: translateY(100%);}
    50% {opacity: 0;transform: translateY(-100%);}
    51% {opacity: 1;}
}



@-webkit-keyframes animationBottom {
    49% {-webkit-transform: translateY(-100%);}
    50% {opacity: 0;-webkit-transform: translateY(100%);}
    51% {opacity: 1;}
}
@keyframes animationBottom {
    49% {transform: translateY(-100%);}
    50% {opacity: 0;transform: translateY(100%);}
    51% {opacity: 1;}
}