@charset "UTF-8";


.arcane-table {
    width: 100%;
    max-width: 100%;
}

.arcane-table > thead > tr > th {
    padding: 15px;
    text-align: center;
    background: #252525;
    color: #bbb;
    border-bottom: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.arcane-table > tbody > tr > td {
    padding: 25px 15px;
    text-align: center;
}

.table-responsive {
    border-color: #252525;
}

.arcane-table-border > tbody > tr > td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.arcane-table-border.arcane-table-transparent > tbody > tr > td {
    border-color: rgba(255, 255, 255, 0.07);
}

.arcane-table-striped tbody tr:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.05);
}

/*TODO: Create style for transparent table*/